@mixin flexColumnTopCenter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexColumnTopBetween {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}

@mixin flexColumnBetweenRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

@mixin flexColumnTopLeftCenter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flexRowLeftCenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexRowLeftTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flexColumnCenterLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flexRowBetweenLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flexRowBetweenCenter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flexRowAroundCenter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@mixin flexRowBetweenEvenly {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-evenly;
}

@mixin flexRowBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}